<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>qimen</title>
    <script src="../plugins/bootstrap-3.3.7/css/bootstrap.css"></script>
    <style>
        .qimen{
            width: 100%;
            height: 100%;
            margin-top: -354px;
        }
    </style>
</head>
<body class="body">
    <div class="container" style="height: 576px;margin-left: -89px;">
        <div style="width: 100%;height: 100%">
            <iframe src="https://www.china95.net/paipan/qimen.asp" frameborder="0" class="qimen" scrolling=no></iframe>
        </div>
        <span></span>
    </div>
    <script type="text/javascript" src="../../js/jquery-easyui-1.4.1/jquery.min.js"></script>
</body>
</html>