<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.master.qianyi.mapper.TbCourseMapper" >
  <resultMap id="BaseResultMap" type="com.master.qianyi.pojo.TbCourse" >
    <id column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_type" property="courseType" jdbcType="VARCHAR" />
    <result column="course_level" property="courseLevel" jdbcType="VARCHAR" />
    <result column="course_is_online" property="courseIsOnline" jdbcType="VARCHAR" />
    <result column="course_address" property="courseAddress" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="VARCHAR" />
    <result column="endDate" property="enddate" jdbcType="VARCHAR" />
    <result column="course_price" property="coursePrice" jdbcType="INTEGER" />
    <result column="course_welfare" property="courseWelfare" jdbcType="VARCHAR" />
    <result column="course_img" property="courseImg" jdbcType="VARCHAR" />
    <result column="course_description" property="courseDescription" jdbcType="VARCHAR" />
    <result column="course_learning_frequency" property="courseLearningFrequency" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="course_belongTo" property="courseBelongto" jdbcType="VARCHAR" />
    <result column="course_update_details" property="courseUpdateDetails" jdbcType="VARCHAR" />
    <result column="course_ways" property="courseWays" jdbcType="VARCHAR" />
    <result column="is_carousel" property="isCarousel" jdbcType="CHAR" />
    <result column="course_is_hot" property="courseIsHot" jdbcType="CHAR" />
    <result column="effect_flag" property="effectFlag" jdbcType="CHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.master.qianyi.pojo.TbCourseWithBLOBs" extends="BaseResultMap" >
    <result column="course_details" property="courseDetails" jdbcType="LONGVARCHAR" />
    <result column="remark5" property="remark5" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    course_id, course_name, course_type, course_level, course_is_online, course_address, 
    startDate, endDate, course_price, course_welfare, course_img, course_description, 
    course_learning_frequency, user_name, id_card_no, course_belongTo, course_update_details, 
    course_ways, is_carousel, course_is_hot, effect_flag, delete_flag, create_time, update_time, 
    remark1, remark2, remark3, remark4
  </sql>
  <sql id="Blob_Column_List" >
    course_details, remark5
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.master.qianyi.pojo.TbCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.master.qianyi.pojo.TbCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.master.qianyi.pojo.TbCourseExample" >
    delete from tb_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.master.qianyi.pojo.TbCourseWithBLOBs" >
    insert into tb_course (course_id, course_name, course_type, 
      course_level, course_is_online, course_address, 
      startDate, endDate, course_price, 
      course_welfare, course_img, course_description, 
      course_learning_frequency, user_name, id_card_no, 
      course_belongTo, course_update_details, course_ways, 
      is_carousel, course_is_hot, effect_flag, 
      delete_flag, create_time, update_time, 
      remark1, remark2, remark3, 
      remark4, course_details, remark5
      )
    values (#{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseType,jdbcType=VARCHAR}, 
      #{courseLevel,jdbcType=VARCHAR}, #{courseIsOnline,jdbcType=VARCHAR}, #{courseAddress,jdbcType=VARCHAR}, 
      #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{coursePrice,jdbcType=INTEGER}, 
      #{courseWelfare,jdbcType=VARCHAR}, #{courseImg,jdbcType=VARCHAR}, #{courseDescription,jdbcType=VARCHAR}, 
      #{courseLearningFrequency,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{idCardNo,jdbcType=VARCHAR}, 
      #{courseBelongto,jdbcType=VARCHAR}, #{courseUpdateDetails,jdbcType=VARCHAR}, #{courseWays,jdbcType=VARCHAR}, 
      #{isCarousel,jdbcType=CHAR}, #{courseIsHot,jdbcType=CHAR}, #{effectFlag,jdbcType=CHAR}, 
      #{deleteFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, 
      #{remark4,jdbcType=VARCHAR}, #{courseDetails,jdbcType=LONGVARCHAR}, #{remark5,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.master.qianyi.pojo.TbCourseWithBLOBs" >
    insert into tb_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseType != null" >
        course_type,
      </if>
      <if test="courseLevel != null" >
        course_level,
      </if>
      <if test="courseIsOnline != null" >
        course_is_online,
      </if>
      <if test="courseAddress != null" >
        course_address,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="coursePrice != null" >
        course_price,
      </if>
      <if test="courseWelfare != null" >
        course_welfare,
      </if>
      <if test="courseImg != null" >
        course_img,
      </if>
      <if test="courseDescription != null" >
        course_description,
      </if>
      <if test="courseLearningFrequency != null" >
        course_learning_frequency,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="idCardNo != null" >
        id_card_no,
      </if>
      <if test="courseBelongto != null" >
        course_belongTo,
      </if>
      <if test="courseUpdateDetails != null" >
        course_update_details,
      </if>
      <if test="courseWays != null" >
        course_ways,
      </if>
      <if test="isCarousel != null" >
        is_carousel,
      </if>
      <if test="courseIsHot != null" >
        course_is_hot,
      </if>
      <if test="effectFlag != null" >
        effect_flag,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="courseDetails != null" >
        course_details,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseLevel != null" >
        #{courseLevel,jdbcType=VARCHAR},
      </if>
      <if test="courseIsOnline != null" >
        #{courseIsOnline,jdbcType=VARCHAR},
      </if>
      <if test="courseAddress != null" >
        #{courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="coursePrice != null" >
        #{coursePrice,jdbcType=INTEGER},
      </if>
      <if test="courseWelfare != null" >
        #{courseWelfare,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null" >
        #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null" >
        #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="courseLearningFrequency != null" >
        #{courseLearningFrequency,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="courseBelongto != null" >
        #{courseBelongto,jdbcType=VARCHAR},
      </if>
      <if test="courseUpdateDetails != null" >
        #{courseUpdateDetails,jdbcType=VARCHAR},
      </if>
      <if test="courseWays != null" >
        #{courseWays,jdbcType=VARCHAR},
      </if>
      <if test="isCarousel != null" >
        #{isCarousel,jdbcType=CHAR},
      </if>
      <if test="courseIsHot != null" >
        #{courseIsHot,jdbcType=CHAR},
      </if>
      <if test="effectFlag != null" >
        #{effectFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="courseDetails != null" >
        #{courseDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.master.qianyi.pojo.TbCourseExample" resultType="java.lang.Integer" >
    select count(*) from tb_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_course
    <set >
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null" >
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseType != null" >
        course_type = #{record.courseType,jdbcType=VARCHAR},
      </if>
      <if test="record.courseLevel != null" >
        course_level = #{record.courseLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.courseIsOnline != null" >
        course_is_online = #{record.courseIsOnline,jdbcType=VARCHAR},
      </if>
      <if test="record.courseAddress != null" >
        course_address = #{record.courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.startdate != null" >
        startDate = #{record.startdate,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null" >
        endDate = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePrice != null" >
        course_price = #{record.coursePrice,jdbcType=INTEGER},
      </if>
      <if test="record.courseWelfare != null" >
        course_welfare = #{record.courseWelfare,jdbcType=VARCHAR},
      </if>
      <if test="record.courseImg != null" >
        course_img = #{record.courseImg,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDescription != null" >
        course_description = #{record.courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.courseLearningFrequency != null" >
        course_learning_frequency = #{record.courseLearningFrequency,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNo != null" >
        id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.courseBelongto != null" >
        course_belongTo = #{record.courseBelongto,jdbcType=VARCHAR},
      </if>
      <if test="record.courseUpdateDetails != null" >
        course_update_details = #{record.courseUpdateDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.courseWays != null" >
        course_ways = #{record.courseWays,jdbcType=VARCHAR},
      </if>
      <if test="record.isCarousel != null" >
        is_carousel = #{record.isCarousel,jdbcType=CHAR},
      </if>
      <if test="record.courseIsHot != null" >
        course_is_hot = #{record.courseIsHot,jdbcType=CHAR},
      </if>
      <if test="record.effectFlag != null" >
        effect_flag = #{record.effectFlag,jdbcType=CHAR},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null" >
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark3 != null" >
        remark3 = #{record.remark3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark4 != null" >
        remark4 = #{record.remark4,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDetails != null" >
        course_details = #{record.courseDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark5 != null" >
        remark5 = #{record.remark5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_course
    set course_id = #{record.courseId,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      course_type = #{record.courseType,jdbcType=VARCHAR},
      course_level = #{record.courseLevel,jdbcType=VARCHAR},
      course_is_online = #{record.courseIsOnline,jdbcType=VARCHAR},
      course_address = #{record.courseAddress,jdbcType=VARCHAR},
      startDate = #{record.startdate,jdbcType=VARCHAR},
      endDate = #{record.enddate,jdbcType=VARCHAR},
      course_price = #{record.coursePrice,jdbcType=INTEGER},
      course_welfare = #{record.courseWelfare,jdbcType=VARCHAR},
      course_img = #{record.courseImg,jdbcType=VARCHAR},
      course_description = #{record.courseDescription,jdbcType=VARCHAR},
      course_learning_frequency = #{record.courseLearningFrequency,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      course_belongTo = #{record.courseBelongto,jdbcType=VARCHAR},
      course_update_details = #{record.courseUpdateDetails,jdbcType=VARCHAR},
      course_ways = #{record.courseWays,jdbcType=VARCHAR},
      is_carousel = #{record.isCarousel,jdbcType=CHAR},
      course_is_hot = #{record.courseIsHot,jdbcType=CHAR},
      effect_flag = #{record.effectFlag,jdbcType=CHAR},
      delete_flag = #{record.deleteFlag,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR},
      course_details = #{record.courseDetails,jdbcType=LONGVARCHAR},
      remark5 = #{record.remark5,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_course
    set course_id = #{record.courseId,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      course_type = #{record.courseType,jdbcType=VARCHAR},
      course_level = #{record.courseLevel,jdbcType=VARCHAR},
      course_is_online = #{record.courseIsOnline,jdbcType=VARCHAR},
      course_address = #{record.courseAddress,jdbcType=VARCHAR},
      startDate = #{record.startdate,jdbcType=VARCHAR},
      endDate = #{record.enddate,jdbcType=VARCHAR},
      course_price = #{record.coursePrice,jdbcType=INTEGER},
      course_welfare = #{record.courseWelfare,jdbcType=VARCHAR},
      course_img = #{record.courseImg,jdbcType=VARCHAR},
      course_description = #{record.courseDescription,jdbcType=VARCHAR},
      course_learning_frequency = #{record.courseLearningFrequency,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      course_belongTo = #{record.courseBelongto,jdbcType=VARCHAR},
      course_update_details = #{record.courseUpdateDetails,jdbcType=VARCHAR},
      course_ways = #{record.courseWays,jdbcType=VARCHAR},
      is_carousel = #{record.isCarousel,jdbcType=CHAR},
      course_is_hot = #{record.courseIsHot,jdbcType=CHAR},
      effect_flag = #{record.effectFlag,jdbcType=CHAR},
      delete_flag = #{record.deleteFlag,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.master.qianyi.pojo.TbCourseWithBLOBs" >
    update tb_course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseLevel != null" >
        course_level = #{courseLevel,jdbcType=VARCHAR},
      </if>
      <if test="courseIsOnline != null" >
        course_is_online = #{courseIsOnline,jdbcType=VARCHAR},
      </if>
      <if test="courseAddress != null" >
        course_address = #{courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="coursePrice != null" >
        course_price = #{coursePrice,jdbcType=INTEGER},
      </if>
      <if test="courseWelfare != null" >
        course_welfare = #{courseWelfare,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null" >
        course_img = #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null" >
        course_description = #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="courseLearningFrequency != null" >
        course_learning_frequency = #{courseLearningFrequency,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="courseBelongto != null" >
        course_belongTo = #{courseBelongto,jdbcType=VARCHAR},
      </if>
      <if test="courseUpdateDetails != null" >
        course_update_details = #{courseUpdateDetails,jdbcType=VARCHAR},
      </if>
      <if test="courseWays != null" >
        course_ways = #{courseWays,jdbcType=VARCHAR},
      </if>
      <if test="isCarousel != null" >
        is_carousel = #{isCarousel,jdbcType=CHAR},
      </if>
      <if test="courseIsHot != null" >
        course_is_hot = #{courseIsHot,jdbcType=CHAR},
      </if>
      <if test="effectFlag != null" >
        effect_flag = #{effectFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="courseDetails != null" >
        course_details = #{courseDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.master.qianyi.pojo.TbCourseWithBLOBs" >
    update tb_course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_type = #{courseType,jdbcType=VARCHAR},
      course_level = #{courseLevel,jdbcType=VARCHAR},
      course_is_online = #{courseIsOnline,jdbcType=VARCHAR},
      course_address = #{courseAddress,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      course_price = #{coursePrice,jdbcType=INTEGER},
      course_welfare = #{courseWelfare,jdbcType=VARCHAR},
      course_img = #{courseImg,jdbcType=VARCHAR},
      course_description = #{courseDescription,jdbcType=VARCHAR},
      course_learning_frequency = #{courseLearningFrequency,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      course_belongTo = #{courseBelongto,jdbcType=VARCHAR},
      course_update_details = #{courseUpdateDetails,jdbcType=VARCHAR},
      course_ways = #{courseWays,jdbcType=VARCHAR},
      is_carousel = #{isCarousel,jdbcType=CHAR},
      course_is_hot = #{courseIsHot,jdbcType=CHAR},
      effect_flag = #{effectFlag,jdbcType=CHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      course_details = #{courseDetails,jdbcType=LONGVARCHAR},
      remark5 = #{remark5,jdbcType=LONGVARCHAR}
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.master.qianyi.pojo.TbCourse" >
    update tb_course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_type = #{courseType,jdbcType=VARCHAR},
      course_level = #{courseLevel,jdbcType=VARCHAR},
      course_is_online = #{courseIsOnline,jdbcType=VARCHAR},
      course_address = #{courseAddress,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      course_price = #{coursePrice,jdbcType=INTEGER},
      course_welfare = #{courseWelfare,jdbcType=VARCHAR},
      course_img = #{courseImg,jdbcType=VARCHAR},
      course_description = #{courseDescription,jdbcType=VARCHAR},
      course_learning_frequency = #{courseLearningFrequency,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      course_belongTo = #{courseBelongto,jdbcType=VARCHAR},
      course_update_details = #{courseUpdateDetails,jdbcType=VARCHAR},
      course_ways = #{courseWays,jdbcType=VARCHAR},
      is_carousel = #{isCarousel,jdbcType=CHAR},
      course_is_hot = #{courseIsHot,jdbcType=CHAR},
      effect_flag = #{effectFlag,jdbcType=CHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
</mapper>