<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.master.qianyi.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.master.qianyi.pojo.TbOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="order_pay_time" property="orderPayTime" jdbcType="TIMESTAMP" />
    <result column="mode_of_payment" property="modeOfPayment" jdbcType="CHAR" />
    <result column="order_status" property="orderStatus" jdbcType="CHAR" />
    <result column="order_refund_reason" property="orderRefundReason" jdbcType="VARCHAR" />
    <result column="order_auditor" property="orderAuditor" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="INTEGER" />
    <result column="order_comment" property="orderComment" jdbcType="VARCHAR" />
    <result column="order_rank" property="orderRank" jdbcType="CHAR" />
    <result column="effect_flag" property="effectFlag" jdbcType="CHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, user_id, good_id, order_create_time, order_pay_time, mode_of_payment, order_status, 
    order_refund_reason, order_auditor, order_amount, order_comment, order_rank, effect_flag, 
    delete_flag, remark1, remark5, remark3, remark4, remark2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.master.qianyi.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.master.qianyi.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.master.qianyi.pojo.TbOrder" >
    insert into tb_order (order_id, user_id, good_id, 
      order_create_time, order_pay_time, mode_of_payment, 
      order_status, order_refund_reason, order_auditor, 
      order_amount, order_comment, order_rank, 
      effect_flag, delete_flag, remark1, 
      remark5, remark3, remark4, 
      remark2)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goodId,jdbcType=VARCHAR}, 
      #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderPayTime,jdbcType=TIMESTAMP}, #{modeOfPayment,jdbcType=CHAR}, 
      #{orderStatus,jdbcType=CHAR}, #{orderRefundReason,jdbcType=VARCHAR}, #{orderAuditor,jdbcType=VARCHAR}, 
      #{orderAmount,jdbcType=INTEGER}, #{orderComment,jdbcType=VARCHAR}, #{orderRank,jdbcType=CHAR}, 
      #{effectFlag,jdbcType=CHAR}, #{deleteFlag,jdbcType=CHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark5,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.master.qianyi.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="orderPayTime != null" >
        order_pay_time,
      </if>
      <if test="modeOfPayment != null" >
        mode_of_payment,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderRefundReason != null" >
        order_refund_reason,
      </if>
      <if test="orderAuditor != null" >
        order_auditor,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="orderComment != null" >
        order_comment,
      </if>
      <if test="orderRank != null" >
        order_rank,
      </if>
      <if test="effectFlag != null" >
        effect_flag,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null" >
        #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modeOfPayment != null" >
        #{modeOfPayment,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderRefundReason != null" >
        #{orderRefundReason,jdbcType=VARCHAR},
      </if>
      <if test="orderAuditor != null" >
        #{orderAuditor,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderComment != null" >
        #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="orderRank != null" >
        #{orderRank,jdbcType=CHAR},
      </if>
      <if test="effectFlag != null" >
        #{effectFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.master.qianyi.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodId != null" >
        good_id = #{record.goodId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCreateTime != null" >
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderPayTime != null" >
        order_pay_time = #{record.orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modeOfPayment != null" >
        mode_of_payment = #{record.modeOfPayment,jdbcType=CHAR},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=CHAR},
      </if>
      <if test="record.orderRefundReason != null" >
        order_refund_reason = #{record.orderRefundReason,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAuditor != null" >
        order_auditor = #{record.orderAuditor,jdbcType=VARCHAR},
      </if>
      <if test="record.orderAmount != null" >
        order_amount = #{record.orderAmount,jdbcType=INTEGER},
      </if>
      <if test="record.orderComment != null" >
        order_comment = #{record.orderComment,jdbcType=VARCHAR},
      </if>
      <if test="record.orderRank != null" >
        order_rank = #{record.orderRank,jdbcType=CHAR},
      </if>
      <if test="record.effectFlag != null" >
        effect_flag = #{record.effectFlag,jdbcType=CHAR},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=CHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark5 != null" >
        remark5 = #{record.remark5,jdbcType=VARCHAR},
      </if>
      <if test="record.remark3 != null" >
        remark3 = #{record.remark3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark4 != null" >
        remark4 = #{record.remark4,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null" >
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      good_id = #{record.goodId,jdbcType=VARCHAR},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      order_pay_time = #{record.orderPayTime,jdbcType=TIMESTAMP},
      mode_of_payment = #{record.modeOfPayment,jdbcType=CHAR},
      order_status = #{record.orderStatus,jdbcType=CHAR},
      order_refund_reason = #{record.orderRefundReason,jdbcType=VARCHAR},
      order_auditor = #{record.orderAuditor,jdbcType=VARCHAR},
      order_amount = #{record.orderAmount,jdbcType=INTEGER},
      order_comment = #{record.orderComment,jdbcType=VARCHAR},
      order_rank = #{record.orderRank,jdbcType=CHAR},
      effect_flag = #{record.effectFlag,jdbcType=CHAR},
      delete_flag = #{record.deleteFlag,jdbcType=CHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark5 = #{record.remark5,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.master.qianyi.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPayTime != null" >
        order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modeOfPayment != null" >
        mode_of_payment = #{modeOfPayment,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderRefundReason != null" >
        order_refund_reason = #{orderRefundReason,jdbcType=VARCHAR},
      </if>
      <if test="orderAuditor != null" >
        order_auditor = #{orderAuditor,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="orderComment != null" >
        order_comment = #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="orderRank != null" >
        order_rank = #{orderRank,jdbcType=CHAR},
      </if>
      <if test="effectFlag != null" >
        effect_flag = #{effectFlag,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.master.qianyi.pojo.TbOrder" >
    update tb_order
    set user_id = #{userId,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=VARCHAR},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_pay_time = #{orderPayTime,jdbcType=TIMESTAMP},
      mode_of_payment = #{modeOfPayment,jdbcType=CHAR},
      order_status = #{orderStatus,jdbcType=CHAR},
      order_refund_reason = #{orderRefundReason,jdbcType=VARCHAR},
      order_auditor = #{orderAuditor,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=INTEGER},
      order_comment = #{orderComment,jdbcType=VARCHAR},
      order_rank = #{orderRank,jdbcType=CHAR},
      effect_flag = #{effectFlag,jdbcType=CHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>